<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <a href="/create/">Create Startup List</a>
        <a href="/gather/">Gather Stack Data</a>
        <a href="/stack_list/">View Stack list</a>
        <table>
            <thead>
                <th>Name</th>
                <th>URL</th>
                <th>Class</th>
                <th>Status</th>
                <th>Description</th>
            </thead>
            <tbody>
            {% for startup in startups %}
                <tr>
                    <td>{{ startup.name }}</td>
                    {% if startup.url %}
                        <td>
                            <a href="{{ startup.url }}">{{ startup.url }}</a>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{ startup.yc_class }}</td>
                    <td>{{ startup.status }}</td>
                    <td>{{ startup.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </body>
</html>